/PruebaGitHub/nbproject/private/
/PruebaGitHub/build/
/Ejercicio1/nbproject/private/
/Ejercicio1/build/
/Ejercicio2/nbproject/private/
/Ejercicio2/build/
/Ejercicio3/nbproject/private/
/Ejercicio3/build/
/Ejercicio4/nbproject/private/
/Ejercicio4/build/
/EjercicioExtra1/nbproject/private/
/EjercicioExtra1/build/