@font-face {
  font-family: 'Dosis';
  font-style: normal;
  font-weight: 400;
  src: url(Dosis.woff) format('woff');
}
@font-face {
  font-family: 'Roboto Mono';
  font-style: normal;
  font-weight: 400;
  src: url(Roboto.woff) format('woff');
}


html {
	font-size: 20pt;
}
@media screen and (max-width: 1600px) {
	html 	{font-size: 15pt;}
}
@media screen and (max-width: 1400px) {
	html 	{font-size: 12pt;}
}
@media screen and (max-width: 1200px) {
	html {	font-size: 11pt;}
}
@media screen and (max-width: 900px) {
	html	{		font-size: 9pt;	}
}

body {
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom:0px;
	background-color:#ffffff;
	font-family: 'Roboto Mono', sans-serif;
}
div.ContenedorTop {
	width: 100%;
	position:relative;
	font-size:0px;
	background-color:#003f7c;
}
div.Top {
	width:95%;
	position:relative;
	display:block;
	margin-left:auto;
	margin-right:auto;
}
div.Logo {
	width:40%;
	max-width:350px;
	min-width:150px;
	display:inline-block;
	vertical-align:top;
}
div.LogoULP {
	width:40%;
	max-width:350px;
	min-width:150px;
	display:inline-block;
	vertical-align:top;
	float:right;
}
img.imgProp {
	width:100%;
	height:auto;
}
div.ContenedorCentro {
	width: 100%;
	position:relative;
	font-size:0px;
}
div.Centro {
	width:88.02%;
	position:relative;
	vertical-align:top;
	margin-left:auto;
	margin-right:auto;
	font-size:1rem;
}
p.UsuarioConectado {
    color:#ffffff;
    text-align:right;
    margin-top:0px;
    padding-bottom:6px;
}
p.TituloPagina {
	font-family: "Roboto Mono","Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size:1.4rem;
	font-weight:bold;
	color:#003f7c;
}
div.PasoInscripcion {
}
p.SubTituloPagina {
	font-size:1.1rem;
	font-weight: bold;
	color:#003f7c;
	font-family: "Roboto Mono","Helvetica Neue",Helvetica,Arial,sans-serif;
	margin-top:0px;
}
p {
	font-family: "Roboto Mono","Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size:1rem;
	color: #151515;
}

div.ContenedorFooter {
	width: 100%;
	position:relative;
	background-color:#fafafa;
	text-align:center;
	margin-top:15px;
}
div.Footer {
	width:27.14%;
	margin-left:auto;
	margin-right:auto;
	position:relative;
	font-size:0px;
}
.AccesoEntidad {
	border-top-right-radius:3px;
    border-bottom-right-radius:3px;	
    border-top-left-radius:3px;
    border-bottom-left-radius:3px;	
    border-right: solid 1px #ae160e;
    border-top: solid 1px #ae160e;
    border-bottom: solid 1px #ae160e;
	border-left: solid 1px #ae160e;
	font-family:"Roboto Mono","Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size:1rem;
	padding:7px;
	margin-bottom:5px;
	background-color:#ae160e;
	color:#ffffff;
	margin-right:5px;
    cursor:pointer;
    max-width:500px;
}
.AccesoEntidad:hover {
	background-color: #da5e19;
	color:#ffffff;
}
div.TimerDiv {
    font-family: "Roboto Mono","Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size:1rem;
	color: #151515;
	font-weight:bold;
    text-align:right;
}

/* Estilos para formularios*/
.LabelForm {
    font-family: "Roboto Mono","Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size:1rem;
	color: #151515;
}
.LabelValor {
    font-family: "Roboto Mono","Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size:1rem;
	color: #ae160e;
}
.LabelFormBold {
    font-family: "Roboto Mono","Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size:1rem;
	color: #151515;
	font-weight:bold;
}
.InputForm {
	border-top-right-radius:3px;
    border-bottom-right-radius:3px;	
    border-top-left-radius:3px;
    border-bottom-left-radius:3px;	
    border-right: solid 1px #ae160e;
    border-top: solid 1px #ae160e;
    border-bottom: solid 1px #ae160e;
	border-left: solid 1px #ae160e;
    font-family: "Roboto Mono","Helvetica Neue",Helvetica,Arial,sans-serif;
	padding:4px;
	font-size:1rem;
	margin-bottom:5px;
	color: #151515;
}
.InputFormErr {
	border-top-right-radius:3px;
    border-bottom-right-radius:3px;	
    border-top-left-radius:3px;
    border-bottom-left-radius:3px;	
    border-right: solid 1px red;
    border-top: solid 1px red;
    border-bottom: solid 1px red;
	border-left: solid 1px red;
    font-family: "Roboto Mono","Helvetica Neue",Helvetica,Arial,sans-serif;
	padding:4px;
	font-size:1rem;
	margin-bottom:5px;
	color: #151515;
}
.InputMini {
	width:70px;
}
.InputChico {
	width:150px;
}
.InputAncho {
	width:300px;
}
.AnchoLibre {
	width:auto;
	max-width:600px;
}
.Boton {
	border-top-right-radius:3px;
    border-bottom-right-radius:3px;	
    border-top-left-radius:3px;
    border-bottom-left-radius:3px;	
    border-right: solid 1px #ae160e;
    border-top: solid 1px #ae160e;
    border-bottom: solid 1px #ae160e;
	border-left: solid 1px #ae160e;
    font-family: "Roboto Mono","Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size:1rem;
	padding:7px;
	margin-bottom:5px;
	background-color:#ae160e;
	font-weight:normal;
	color: #ffffff;
	cursor:pointer;
}
.Boton:hover {
	background-color: #da5e19;
    border-right: solid 1px #da5e19;
    border-top: solid 1px #da5e19;
    border-bottom: solid 1px #da5e19;
	border-left: solid 1px #da5e19;
	font-weight:normal;
	color:#ffffff;
}
div.Botonera {
	margin-top:10px;
	display:block;
}
div.CampoForm {
	width:auto;
	display:block;
	margin-bottom:5px;
}
select {
	border-top-right-radius:3px;
    border-bottom-right-radius:3px;	
    border-top-left-radius:3px;
    border-bottom-left-radius:3px;	
    border-right: solid 1px #ae160e;
    border-top: solid 1px #ae160e;
    border-bottom: solid 1px #ae160e;
	border-left: solid 1px #ae160e;
    font-family: "Roboto Mono","Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size:1rem;
	padding:4px;
	color:#151515;
	width:300px;
	margin-bottom:5px;
}
option {
    font-family: "Roboto Mono","Helvetica Neue",Helvetica,Arial,sans-serif;
}
p.MensajeImportante {
    font-family: "Roboto Mono","Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size:1rem;
	color:red;
	font-weight:bold;
}
div.divRow {
	display:block;
	white-space:nowrap;
	margin-bottom:0.5rem;
}
div.divCell {
	display:inline-block;
	white-space:normal;
	vertical-align:top;
}
div.EjemploTramite {
	width:90%;
	max-width:350px;
	margin-top:15px;
}
div.Salir {
    display:inline-block;
    position:absolute;
    top:-0.4rem;
    right:2%;
    z-index:10;
}

/* Paginador */
div.Paginador {
	display:block;
	position:relative;
	margin-top:10px;
}
.lnkPagina {
	border-top-right-radius:3px;
    border-bottom-right-radius:3px;	
    border-top-left-radius:3px;
    border-bottom-left-radius:3px;	
    border-right: solid 1px #ae160e;
    border-top: solid 1px #ae160e;
    border-bottom: solid 1px #ae160e;
	border-left: solid 1px #ae160e;
	padding-top:4px;
	padding-bottom:4px;
	padding-right:8px;
	padding-left:8px;
	margin-top: 2px;
	margin-bottom:2px;
	margin-right:10px;
	background-color: #ae160e;
	color: #ffffff;
	text-decoration:none;
	font-family:"Roboto Mono","Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size:0.8rem;
    display:inline-block;
}
.lnkPagina:hover,.lnkPaginaConRta:hover {
	background-color: #da5e19;
    border-right: solid 1px #da5e19;
    border-top: solid 1px #da5e19;
    border-bottom: solid 1px #da5e19;
	border-left: solid 1px #da5e19;
}
.lnkPaginaConRta {
	border-top-right-radius:3px;
    border-bottom-right-radius:3px;	
    border-top-left-radius:3px;
    border-bottom-left-radius:3px;	
    border-right: solid 1px #003f7c;
    border-top: solid 1px #003f7c;
    border-bottom: solid 1px #003f7c;
	border-left: solid 1px #003f7c;
	padding-top:4px;
	padding-bottom:4px;
	padding-right:8px;
	padding-left:8px;
	margin-top: 2px;
	margin-bottom:2px;
	margin-right:10px;
	background-color: #003f7c;
	color: #ffffff;
	text-decoration:none;
	font-family:"Roboto Mono","Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size:0.8rem;
    display:inline-block;
}
.lnkPaginaOn {
	border-top-right-radius:3px;
    border-bottom-right-radius:3px;	
    border-top-left-radius:3px;
    border-bottom-left-radius:3px;	
    border-right: solid 1px #ae160e;
    border-top: solid 1px #ae160e;
    border-bottom: solid 1px #ae160e;
	border-left: solid 1px #ae160e;
	padding-top:4px;
	padding-bottom:4px;
	padding-right:8px;
	padding-left:8px;
	margin-top: 2px;
	margin-bottom:2px;
	margin-right:5px;
	background-color: #ffffff;
	color: #201221;
	text-decoration:none;
	font-family:"Roboto Mono","Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size:0.8rem;
    display:inline-block;
}
.lnkPaginaOn:hover {
	background-color: #ffffff;
	color: #000000;
}
/* Fin Paginador*/



@media screen and (max-width: 950px) {
	div.Footer {
		width:95%;
		max-width:260px;
	}
}
@media screen and (max-width: 650px) {
	.InputAncho {
		width:95%;
	}
	.AnchoLibre {
		width:95%;
	}

	select {
		width:95%;
	}
}
@media screen and (max-width: 340px) {
    div.Salir {
        display:block;
        position:relative;
        top:0px;
        margin-top:5px;
        text-align:right;
    }
	div.LogoULP {
		display:none;
	}
}

